

.tasksDiv {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.addTask {
  display: flex;
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgb(253, 1, 224);
  text-decoration: none;
  font-size: 25px;
}

.reactIcon {
  margin-left: 10px;
  margin-top: 2px;
}

.link {
  color: rgb(214, 33, 193);
}

.link:active {
  color: rgb(214, 33, 193);
}

.link:visited {
  color: rgb(214, 33, 193);
}

.link::after {
  color: rgb(214, 33, 193);
}

@media (max-width: 576px) {
  .tasksPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .addTask {
    justify-content: center;
  }
}